<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <h1>Rock, Paper, Scissors</h1>
</head>
<body>
  <h2>If you haven't played this it will change your life!</h2>
  <p>The rules for the game are very simple, you need two players and on the count of 3 you both display a hand signal, rock being a fist, scissors being two fingers in a scissor action and paper being a flat hand. Whoever puts out the winning is the winner. If you both put out the same hand the result is a draw.</p>
<img src="https://i294.photobucket.com/albums/mm93/nacamomi/Paper_Scissors_Remix.jpg" border="0" alt="Rock Paper Scissors Remix photo Paper_Scissors_Remix.jpg">
<h2><a href="https://en.wikipedia.org/wiki/Rock%E2%80%93paper%E2%80%93scissors">Here</a> is some great info on rock, paper, scissors...enjoy playing!!</h2>
</body>
</html>
